<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Volunteer Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">New Name</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- First Container -->
<div class="container-fluid bg-2">
    <br>
  <h4 align="center">Welcome to the</h4>
  <h1 align="center">Outreach Portal</h1>
  <p align="center">View the ordered list below of high priority cases and
      click to see any other listings who may be linked</p>
</div>

<!-- Second Container -->
<div class="container-fluid bg-3">
    <div class="row">
        <h2 class="col-sm-4 margin" align="center">Priority List</h2>
        <h2 class="col-sm-8 margin" align="center">Network of High Priority Cases</h2>
    </div>


     <div class="row main_content">
        <div class="node_list col-sm-4 btn-group-long pre-scrollable container-fluid ">
        </div>

        <div align="center" class="col-sm-8">
            <svg width="500" height="500" style="top: 50%; text-align: center">
            </svg>
        </div>
    </div>

</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
</footer>


</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>



<!-- Template the provider list card -->
<div id="provider">
    <div>
        <button>
             <div class="card" style="width: 100%;">
                  <div align="left" class="card-body">
                    <h1 align='center'> <span class="rank badge lb-lg"></span> </h1>
                    <h2 align='center' class="name card-tile"></h2>

                      <ul>
                          <li class="phone"> Phone: </li>
                          <li class="date"> Last Review: </li>
                          <li class="status"> Status: </li>
                      </ul>

                      <textarea rows="2" style="width: 100%" placeholder="Enter your notes here"></textarea>
                    <p class="card-text"></p>

                      <!-- Change status button -->
                      <!-- Link to listing -->


                  </div>
                </div>
          </button>
    </div>
    </div>

</html>
