<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<head>
    <title>Flask Graph</title>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">New Name</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- First Container -->
<div class="container-fluid bg-2 text-center">
  <h1>Some set of instructions</h1>
</div>

<!-- Second Container -->
<div class="container-fluid bg-3 text-center">

     <div class="row main_content">
        <div class="node_list col-sm-3 btn-group pre-scrollable container-fluid ">
        </div>



        <div align="right" class="col-sm-9 container-fluid ">
            <svg width="600" height="600" alignment-baseline="central"></svg>
        </div>
    </div>

</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
</footer>


</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>

</html>

<div id="provider">
                <div>
                    <button>
                         <div class="card" style="width: 100%;">
                              <div align="left" class="card-body">
                                <h1 align='center' class="rank card-tile"></h1>
                                <h2 align='center' class="name card-tile"></h2>
                                <h4 class="phone card-tile mb-2 text-muted">Phone: </h4>
                                <h4 class="date card-tile mb-2 text-muted">Last Review:</h4>
                                <p class="card-text"></p>
                              </div>
                            </div>
                      </button>
                </div>
    </div>
